fastapi
uvicorn 
pandas 
numpy 
scikit-learn 
mlflow 
shap 
torch
python-multipart 
openpyxl 
PyPDF2 
tabula-py
pydantic
scipy
kafka-python
requests
pytest
httpx
python-jose[cryptography]
passlib[bcrypt]
